* {
    font-family: 微軟正黑體, sans-serif;
}

body {
    margin: 0;
}

.container {
    max-width: 1260px;
}

section {
    padding: 120px 0;
}

.section1 {
    padding: 0;
    margin-top: 95px;
}

.section1 img {
    width: 100%;
}

.section1 .img {
    background-image: url("../img/restaurant/restuarant_banner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65vh;
}
.section2{
    padding-bottom: 30px;
}
.section2 img {
    width: 100%;
}
.section2 .row{
    margin-bottom: 30px;
}
.section2 h2 {
    font-size: 30px;
    padding: 0 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 2px #42210b;
    display: inline-block;
    letter-spacing: 1px;
    font-family: 新細明體;
    color: #42210b;
}

.section2 h3 {
    font-size: 24px;
    padding: 0;
    margin-bottom: 60px;
    color: #42210b;
    font-family: 新細明體;
    letter-spacing: normal;
}

.section2 .text_area {
    padding: 60px;
}

.section2 h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
    color: #42210b;
}

.section2  .text_area p {
    font-size: 20px;
    color: #603813;
    line-height: 36px;
    text-align: justify;
}
.section2 .col-12 img{
    height: 100%;
}
.section2 .col-12{
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
    
}
.section2 .col-12.col-lg-4 p ,.section2 .col-12.col-lg-8 p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 24px;
    right: 45px;
}

.section3{
    background-image: url("../img/bakery/bakery_banner_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 120px 0;
    padding-bottom: 117px;
    /* transition: .2s; */
}
.section3 h2{
    margin-bottom: 53px;
    font-size: 60px;
    line-height: 75px;
    font-weight: bold;
}
.section3 p{
    font-size: 30px;
    line-height: 40px;
}
.section4 .col-12 img{
    width: 100%;
}
.section4 .col-12{
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
    
}
.section4 .col-12 p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 24px;
    right: 45px;
}
.section5{
    background-color: #ead6c1;
    background-image: url("../img/restaurant/vintage-concrete.png");
}
.section5 .row.center{
    margin-left: 150px;
}
.section5 h2 {
    margin: 0;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.7px;
    color: #42210b;
}

.section5 .container b {
    font-size: 18px;
    font-weight: bold;
    margin-top: 18.5px;
    position: relative;
    display: block;
    color: #42210b;
}

.section5 .container b:before {
    content: "●";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%) scale(.6);
    color: #42210b;
}
.section5 h4{
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    background-color: #42210b;
    display: inline-block;
    padding: 3px 0;
    padding-left: 22px;
    padding-right: 34px;
    display: inline-block;
    position: relative;
    left: -15px;
}
.section5 h4:before{
    content: " ";
    background-image: url('../img/bakery/menu_deco.svg');
    width: 20.5px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 100%;
}
.section5 .container p {
    font-size: 18px;
    line-height: 32 px;
    letter-spacing: 0.15px;
    color: #42210b;
}
.section5 .container .list{
    margin-bottom: 54px;
}
.section5 .container .list-align-1-1{
    margin-bottom: 144px;
}
.section5 .container .list-align-1-2{
    margin-bottom: 115px;
}
.section5 .container .list-align-2-1{
    margin-bottom: 84px;
}
@media (max-width: 760px){
    section{
        padding: 40px 0 ;
    }
    
    .section1 {
        margin-top: 80px;
    }
    .section2{
        padding-bottom: 40px;
    }
    .section2 h2{
        margin-bottom: 10px;
        padding: 0 20px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .section2 h3{
        margin-bottom: 15px;
        font-size: 18px;
    }
    .section2 .text_area{
       padding: 30px 15px;
    }
    .section2 h4 {
        font-size: 24px;
        margin-bottom: 15px;    
    }
    .section2 p {
        font-size: 18px;
        line-height: 30px;
        
    }
    .section2 .row {
        margin-bottom: 0px;
    }
    
    .section2 .col-6 .row {
        margin-bottom: 0px;
    }
    
    .section2 .col-12{
        margin-bottom: 15px;
    }
    .section2 .container:nth-child(2) .col-12{
        margin-bottom: 0px;
    }
    .section2 .col-lg-6 .row .col-12{
        margin-bottom: 0px;
    }
    .section2 .col-lg-6 .row .col-12:nth-child(1) {
        margin-bottom: 15px;
    }
    .section3{
        padding: 40px 0;
    }
    .section3 h2{
        font-size: 36px;
        line-height: normal;
        margin-bottom: 15px;
    }
    .section3 p{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .section4 .row {
        margin-bottom: 0px;
    }
    
    .section4 .col-6 .row {
        margin-bottom: 0px;
    }
    .section4 .col-12{
        margin-bottom: 15px;
    }
    .section4 .col-lg-6 .row .col-12{
        margin-bottom: 0px;
    }
    .section4 .col-lg-6 .row .col-12:nth-child(1) {
        margin-bottom: 15px;
    }

    .section5 .row.center{
        margin-left: 15px;
    }
    
}