/* 通用項目 */
* {
    font-family: 微軟正黑體, sans-serif;
}

body {
    margin: 0;
}

section{
    padding: 120px 0;
}



/* 導覽列 */
.navbar{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
     z-index: 99;
    box-sizing: border-box; 
    padding: 0 10%;
}


.nav-item , .nav-link , .navbar-brand{
    color: #fff;
    font-size: 24px;
    box-sizing: border-box;
    user-select: none;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-item .nav-link span{
    padding-bottom: 5px;
}
.nav-item:hover .nav-link span{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.navbar-brand{
    font-size: 30px;
    display: flex;
    align-items: center;
}
.navbar-brand img{
    height: 32px;
    margin-right: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

/* banner */
.section1{
    height: 100vh;
    padding: 0;
}
.section1 .img_logo{
    width: 250px;
    height: 250px;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-image: url("../img/index/banner_logo_01.png");
}
.section1 .swiper-container {
    width: 100%;
    height: 100%;
  }
.section1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #42210b;
  }
  .section1 .swiper-slide .img_full{
      width: 100%;
      height: 100%;
      position: relative;
  }
  .section1 .swiper-slide .img_full .cover{
    width: 100%;
    height: 100%;
    background-color: #603813;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}
  .section1 .swiper-slide .img{
      width: 100%;
      height: 100%;
      background-position:  center;
      position: relative;
  }
  .section1 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff; 
    background: rgba(0,0,0,0);
    opacity: 1;
}
  .section1 .swiper-pagination-bullet-active{
      background-color: #fff;
  }
.section1 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 50px 10px;
} 
.section1 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:focus {
    outline: none;
}
.section2 h2{
    font-size: 30px;
    font-family: 新細明體;
    padding: 0 20px;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid #42210b;
    display: inline-block;
    
    
}
.section2 .card{
    margin-top: 3px;
    margin-bottom: 65px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    overflow: hidden;
}
.section2 .card_img{
    position: relative;
    top: -2px;
}
.section2 .cover{
    position: absolute;
    background-color: rgba(66,33,11,0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
}
.section2 .card:hover .cover{
    opacity: 1;
}
.section2 .cover .hover{
    position: absolute;
    width: 60px;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    
}
.section2 .cover p{
    position: absolute;
    top: calc(50% + 45px);
    left: 50%;
    font-size: 16px;
    color: #fff;
    transform: translate(-50%, -50%);
}
.section2 .card-body{
    text-align: left;
}
.section2 .category{
    display: inline-block;
    background-color: #8cc63f;
    text-align: left;
    color: #fff;
    padding: 0 10px;
    margin-bottom: 15px;

}
.section2 .card-text{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    overflow:hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.section2 .date{
    font-size: 16px;
    text-align: right;
    margin: 0;
    padding: 0;
}
.section2 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #42210b; 
    background: rgba(0,0,0,0);
    opacity: 1;
}
.section2 .swiper-pagination-bullet-active{
      background-color: #42210b;
  }
.section2 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 10px;
} 
.section2 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:focus {
    outline: none;
}
.section3 , .section5{
    background-image: url('../img/index/restaurant.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 0;
    
    /* transition: .2s; */
}
.section3 .bg_cover, .section5 .bg_cover{
    padding: 86px 0;
    padding-bottom: 117px;
    background-color: rgba(96, 56, 19,0.6);
}
.section3 h2 , .section5 h2{
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 75px;
}
.section3 p ,.section5 p{
    font-size: 30px;
    margin-bottom: 60px;
    line-height: 36px;
}
.section3 a , .section5 a{
   color: #42210b;
   border-radius: 0;
   padding: 3.5px 29px;
   background-color: #fff;
   transition: .2s;
   /* display: block; */
   position: relative;

}
.section3 a:hover , .section5 a:hover{
    background-color: #42210b;
    color: #fff;
}

.section4 h3{
    font-family: 新細明體;
    border-bottom: 2px solid #42210b;
    text-align: center;
    color: #42210b;
    font-size: 30px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 60px;
}
.section4 h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #42210b;
} 
.section4 p{
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: #42210b;
}
.section4 div{
    text-align: center;
}

.section5{
    background-image: url('../img/index/bakery.jpg');
}
.section5 a{
    right: 0;
}
.section6{
    background-color: #EAD6C1;
}
.section6 .message{
    padding: 55px 0;
    text-align: center;
    background-color: #603813;  
    margin: 0 15px;
    
}

.section6 .maps{
    margin-right: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
}
.section6 h4{
    font-size: 24px;
    /* font-weight: bold; */
    color: #fff;
    border-bottom: solid 1px #fff;
    padding: 0 15px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    display: inline-block;
}
.section6 p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 23px;
}
.section6 .last{
    padding: 0;
    margin: 0;
}
.section6 #map{
    width: 100%;
    height: 100%;
}
footer{
    background-color: #42210b;
    padding: 60px 0;
    padding-bottom: 0;
}

footer img {
    width: 130px;
    margin-bottom: 30px;
    
}

footer a img{
    width: 30px;
    margin: 0 15px;
}
footer hr {
    color: #fff;
    height: 1px;
    background-color: #fff;
    margin: 60px 0;
    margin-bottom: 10px;
}
footer p{
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 6px 0;
}
i.fa-chevron-circle-up{
    font-size: 60px;
    color: #241203;
    border-radius: 100%;
    position: fixed;
    bottom: -100px;
    right: 100px;
    transition: .5s;
    cursor: pointer;
    z-index: 99;
    
}
i.fa-chevron-circle-up:hover{
    color: #603813;
}
@media(max-width:1440px){
    i.fa-chevron-circle-up{
      right: 50px;
    }
}
@media (max-width: 760px){
    section{
        padding: 40px 0;
    }
    .navbar.bg{
        background-color: #42210b !important;
    }
    .navbar{
        position: fixed;
        left: 0;
    transform: translateX(0%);
        top: 0;
        padding: 20px 15px;
        transition: .3s;
    }
    .navbar button{
        border: none;
        padding: 0;
    }
    button:focus {
        outline: none;
    }
    .navbar-nav.ml-auto{
        height: calc(100vh - 100px);
        margin-top: 30px;
    }
    .navbar .container{
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-brand{
        font-size: 20px;
    }
    .navbar-brand img{
        height: 18px;
        margin-right: 15px;
    }
    .section1 .swiper-wrapper .img{
        background-position: center -70px;
        background-size: cover;
    }
    .section1 .swiper-wrapper .img:nth-child(2) ,.section1 .swiper-wrapper .img:nth-child(3) {
        background-position: center;
    }
    .section1 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 45px 10px;
    }
    .section2 h2{
        margin-bottom: 25px;
        font-size: 20px;
    }
    .section3,.section5{
        padding: 40px 0;
    }
    .section3 h2,.section5 h2{
        font-size: 36px;
        line-height: normal;
        margin-bottom: 15px;
    }
    .section3 p,.section5 p{
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 30px;
    }
    .section4 h3{
        font-size: 20px;
        margin-bottom: 30px;
        padding: 0;
        padding-bottom: 10px;
    }
    .section4 h4{
        margin-bottom: 15px;
        font-size: 18px;
    }
    .section4 p{
        font-size: 18px;
    }
    .section6 .col.col-lg.col-12{
        padding: 0;
    
    }
    .section6 .message{
        padding: 30px 0; 
        margin-bottom: 30px;
    }
    .section6 #map{
    
        height: 300px;
        
    }
    footer{
        padding: 30px 0;
        padding-bottom: 0;
    }
    footer hr{
        margin: 30px 0;
        margin-bottom: 0;
    }
}