* {
    font-family: 微軟正黑體, sans-serif;
}
h1{
    font-size: 36px;
    margin: 0;
    letter-spacing: 3px;
}
h2{
    font-size: 30px;
    margin: 0;
    letter-spacing: 3px;

}
h3{
    font-size: 24px;
    margin: 0;
    letter-spacing: 1.2px;
}
p{
    font-size: 20px;
    margin: 0;
    letter-spacing: 1px;
    line-height: 30px;

}
body {
    margin: 0;
}



.navbar{
    position: fixed;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    box-shadow: 0 0 100px #42210b;
}
.navbar.bg-brown{
    background-color: #42210b;
}
.navbar .container{
    width: 80vw;
    max-width: 1400px;
    display: flex;
    padding: 30px 0;
}

.nav-item , .nav-link , .navbar-brand{
    color: #fff;
    font-size: 24px;
    box-sizing: border-box;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-item .nav-link span{
    padding-bottom: 5px;
}
.nav-item:hover .nav-link span{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand img{
    height: 23px;
    margin-right: 15px;
}


footer{
    background-color: #42210b;
    padding: 60px 0;
    padding-bottom: 0;
}

footer img {
    width: 130px;
    margin-bottom: 30px;
    
}

footer a img{
    width: 30px;
    margin: 0 15px;
}
footer hr {
    color: #fff;
    height: 1px;
    background-color: #fff;
    margin: 60px 0;
    margin-bottom: 10px;
}
footer p{
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 6px 0;
}