/* 通用項目 */
* {
    font-family: 微軟正黑體, sans-serif;
}

body {
    margin: 0;
}

section{
    padding: 120px 0;
}
.section1{
    padding: 0;
    margin-top: 96px;
}

.section1 .img{
    background-image: url("../img/news/news_banner.jpg");
    background-position: 100px 100px;
}
.section2 h2{
    padding: 0 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    border-bottom: solid 2px #42210b;
    display: inline-block;
    color: #42210b;
    font-family: 新細明體;
}
.section2 h3{
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    letter-spacing: 1px;
    color: #42210b;
    font-family: 新細明體;
}
.section2 .swiper-slide{
    /* height: 441px; */
    margin-bottom: 90px;
   
}
.section2 .container{
    height: 100%;
    padding: 0;
}
.section2 .cover{
    width: 100%;
    height: 100%;
    
}
.section2 .img{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px #222;
}
.section2 img{
    width: calc(100% - 40px);
}
.section2 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #42210b; 
    background: rgba(0,0,0,0);
    opacity: 1;
}
.section2 .swiper-pagination-bullet-active{
      background-color: #42210b;
  }
.section2 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 10px;
} 
.section3{ 
    background-color: #EAD6C1;
}
.section3 .card{
    margin-top: 3px;
    margin-bottom: 65px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    overflow: hidden;
}
.section3 .card_img{
    position: relative;
    top: -2px;
}
.section3 .cover{
    position: absolute;
    background-color: rgba(66,33,11,0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
}
.section3 .card:hover .cover{
    opacity: 1;

}
.section3 .cover .hover{
    position: absolute;
    width: 60px;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    
}
.section3 .cover p{
    position: absolute;
    top: calc(50% + 45px);
    left: 50%;
    font-size: 16px;
    color: #fff;
    transform: translate(-50%, -50%);
}
.section3 .card-body{
    text-align: left;
}
.section3 .category{
    display: inline-block;
    background-color: #8cc63f;
    text-align: left;
    color: #fff;
    padding: 0 10px;
    margin-bottom: 15px;

}
.section3 .card-text{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.section3 .date{
    font-size: 16px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.section3 .pagination ul{
    list-style: none;
    display: flex;
    margin: 0 auto ;
    padding: 0;
}
.section3 .pagination li{
    padding: 0 15px;
}
.section3 .pagination li a{
    font-size: 24px;
    font-weight: bold;
    color: #42210b;
    
}
.section3 .pagination li a:hover{
    text-decoration: none;
    color: #9e5c1d;
}
.section3 .pagination li.active a{
    border-bottom: 2px solid #9e5c1d;
    color: #9e5c1d;
}
.section3 .pagination li.active:hover a{
    border-bottom: 2px solid #9e5c1d;
}

@media (max-width: 760px) {
    section {
        padding: 40px 0;
    }
    .section1 .img{
        background-position: -153px -10px !important;
        
    }
    .section1{
        margin-top: 80px;
    }
    .section2 h2{
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .section2 img {
        width: calc(100% - 0px);
    }
    .section2 h3{
        margin-bottom: 15px;
    }
    .section2 .swiper-slide {
        margin-bottom: 50px;
    }
    .section3 .card{
        margin-bottom: 30px;
    }
    .section3 .pagination li a{
        font-size: 20px;
    }
}