@media (max-width: 760px){
    section{
        padding: 60px 0;
    }
    .navbar{
        left: 0;
    transform: translateX(0%);
        top: 0;
    }
    .navbar .container{
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-brand{
        font-size: 20px;
    }
    .navbar-brand img{
        height: 18px;
        margin-right: 3px;
    }
}