@media (max-width: 760px){
    section{
        padding: 60px 0;
    }
    .navbar{
        position: fixed;
        left: 0;
    transform: translateX(0%);
        top: 0;
    }
    .navbar button{
        border: none;
    }
    button:focus {
        outline: none;
    }
    .navbar-nav.ml-auto{
        background-color: rgba(66, 33, 11,);
        height: calc(100vh - 100px);
        margin-top: 15px;
    }
    .navbar .container{
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-brand{
        font-size: 20px;
    }
    .navbar-brand img{
        height: 18px;
        margin-right: 3px;
    }

    .section6 .col.col-lg.col-12{
        padding: 0;
        margin-bottom: 30px;
    }
    .section6 #map{
    
        height: 300px;
        
    }
    
}