<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yolo Moment 新美式舒食&烘焙坊-最新消息</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <link rel="stylesheet" href="css/news.css">
    <link rel="stylesheet" href="css/nav.css">

</head>

<body>
    <!-- 導覽列 -->
    <div id="vue">
        <nav class="navbar navbar-expand-lg navbar-dark bg-brown">
            <!-- LOGO -->
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="img/general/logo.svg" alt="">
                    <span>YOLO MOMENT</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- 選單 -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="news.html">
                                <span>News</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="about.html">
                                <span>About</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="restaurant.html">
                                <span>Restaurant</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="bakery.html">
                                <span>Bakery</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="section1">
            <div class="img"></div>

        </section>
        <section class="section2">
            <div class="container text-center">
                <h2>最新活動</h2>
                <h3>EVENTS</h3>

                
                <div class="swiper-container" id="events">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="events in events_data">
                            <div class="container">
                                <div class="cover">
                                    <div class="img" :style="'background-image:url(img/news/' + events + ')'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <section class="section3">
            <div class="container">
                <div class="row">
                    <div class="col-4" v-for="news in news_datas.slice(pageStart, pageStart + countOfPage)">
                        <div class="card">
                            <a href="">
                                <div class="card_img">
                                    <div class="cover">
                                        <img src="img/news/hover.svg" alt="" class="hover">
                                        <p>READ MORE</p>
                                    </div>
                                    <img class="card-img-top" :src="'img/news/'+ news.img_src + '.jpg'" alt="Card image cap">
                                </div>
                            </a>
                            <div class="card-body">
                                <div class="category" :style=" 'background-color:' + news.category_color + ';' ">
                                    <span>{{news.category}}</span>
                                </div>
                                <p class="card-text">{{news.title}}
                                </p>
                                <p class="date">{{news.start_date}}-{{news.end_date}}</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="pagination">
                    <ul>
                        <li :class="{'disabled': (currPage === 1)}" @click.prevent="setPage(currPage-1)">
                            <a href="#">上一頁</a>
                        </li>
                        <li v-for="n in totalPage" :class="{'active': (currPage === (n))}" @click.prevent="setPage(n)">
                            <a href="#">{{n}}</a>
                        </li>
                        <li :class="{'disabled': (currPage === totalPage)}" @click.prevent="setPage(currPage+1)">
                            <a href="#">下一頁</a>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
        <footer>
            <div class="text-center">
                <img src="img/general/footer_yolo_logo.svg" alt="">
            </div>
            <div class="text-center">
                <a href="">
                    <img src="img/general/fb.svg" alt="">
                </a>
                <a href="">
                    <img src="img/general/ig.svg" alt="">
                </a>
            </div>
            <hr>
            <p>Copyright © 2018 YOLO MOMENT. All rights reserved.</p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuejs-paginator/2.0.0/vuejs-paginator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>